$primary: #2c2c37;
$light: #e4e6ea;
$success: #655fc5;
$dark: #21222D;
$lightgray:rgba(164, 164, 164, 0.152);
$input-border-color: rgba(128, 128, 128, 0.38);
$input-bg: transparent;
$form-select-font-size-lg: 1rem;
$modal-header-border-width: 0;
$modal-header-padding-y:10px;
$form-check-padding-start:0;

$list-group-bg: transparent;
$list-group-color: #6c757d;
$list-group-item-padding-y: 15px;
$btn-border-radius: 30px;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,body,#root,.container-fluid,.row,.navbar{
    height: 100%;
}

@mixin logospan($opacity) {
  display: inline-block;
  width: 7px;
  height: 100%;
  background-color: $success;
  opacity: $opacity;
  height: 30px;
  margin: 0 2px;
}
$logo: (
  "0": 1,
  "1": 0.6,
  "2": 0.4,
);

@each $key, $var in $logo {
  .logo-item-#{$key} {
    @include logospan($var);
  }
}
.bords-list {
  .list-group-item {
    border: none !important;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    &:hover{
        background-color: #665fc522;
    }
    &.selected{
        background-color: $success;
        font-weight: bold;
        color: $light;
    }
  }

}
.mode-toggle{
    width: 45px;
    height: 23px;
    border-radius: 10px;
    cursor: pointer;
    .toggler{
        width: 16px;
        height: 16px;
        position: relative;
        right: -25px;
        top: 2px;
    }
}
.border-lightgray{
  border-color: $lightgray !important;
}

.content-body{
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
  .create-column:hover{
    opacity: 1 !important;
    transition: 100ms ease-in-out;
  }
  .category-column{
    width: 400px;
    flex-shrink: 0;
    .category-icon{
      width: 15px;
      height: 15px;
      display: inline-block;
      background-color: #655fc5;
    }
  }
}

.modal-body{
  padding-top: 0 !important;
}


  input:checked ~ .form-check-label>small{
    font-size: 15px;
    font-weight: bold;
    color: white;
  }



